//the two btns
.btns{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 40px auto;
  gap: 10px;
}
.btn-delete{
  --background: none;
  color: var(--ion-color-danger);
  border: 1px solid var(--ion-color-danger);
  border-radius: 6px;
  --box-shadow: none;
  width: 50%;
  margin-top: 20px;
}
.btn-applicants{
  --background: none;
  color: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
  border-radius: 6px;
  --box-shadow: none;
}
.btn-update{
 --box-shadow: none;
 width: 50%;
 --background: var(--ion-color-green);
}
.btn-cancel{
  --background: var(--ion-color-first);
  --box-shadow: none;
  width: 50%;
 }
