<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/entp-profile"></ion-back-button>
    </ion-buttons>
    <ion-title >Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <div class="container">
    <form #ngUpdateEnpForp="ngForm">
      <h1>Update Your Profile</h1>

      <h2 class="ion-h2 label">Full Name</h2>
      <ion-input [(ngModel)]="enp.fullName" name="fullName" #fullName="ngModel" class="ion-input ion-h2" type="text" placeholder="Full Name" maxlength="30" required></ion-input>
      <div *ngIf="fullName.touched && !fullName.valid" class="error-message">Full Name Number is required!</div>

      <div class="ion-mt"></div>

      <h2 class="ion-h2 label">Title</h2>
      <ion-input [(ngModel)]="enp.subTitle" name="subTitle" #subTitle="ngModel" class="ion-input ion-h2" type="text" placeholder="Exp: Enrepreneur" maxlength="30"></ion-input>

      <div class="ion-mt"></div>

      <h2 class="ion-h2 label">About me</h2>
      <ion-textarea [(ngModel)]="enp.bio" name="bio" #bio="ngModel" class="ion-input ion-h2" type="textarea" placeholder="Tell the world about yourself."></ion-textarea>

      <div class="ion-mt"></div>

      <h2 class="ion-h2 label">Company</h2>
      <ion-input [(ngModel)]="enp.companyName" #companyName="ngModel" name="companyName" class="ion-input ion-h2" type="text" placeholder="Your company name" maxlength="10"></ion-input>
      <div *ngIf="companyName.touched && !companyName.valid" class="error-message">Company Name is required!</div>

      <div class="ion-mt"></div>

      <h2 class="ion-h2 label">Phone Number</h2>

      <ion-input [(ngModel)]="enp.phoneNumber" #phoneNumber="ngModel" name="phoneNumber" type="number" class="ion-input ion-h2" placeholder="Your phone namber"></ion-input>

      <div class="ion-mt"></div>
      <h2 class="ion-h2 label">Country</h2>
      <h2 class="ion-h2 label"></h2>
      <app-country [cucountry]="enp.country" [isMultiSelect]="false" [isRequired]="true" (countrySlected)="getCountry($event)"></app-country>

      <div class="ion-mt"></div>

      <!-- Social links  -->
      <h2 class="ion-h2">Website Link</h2>
      <ion-input [(ngModel)]="enp.website" name="website" #website="ngModel" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

      <div class="ion-mt"></div>

      <h2 class="ion-h2">Facebook Link</h2>
      <ion-input [(ngModel)]="enp.facebook" name="facebook" #facebook="ngModel" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

      <div class="ion-mt"></div>

      <h2 class="ion-h2">Instagram Link</h2>
      <ion-input [(ngModel)]="enp.instagram" name="instagram" #instagram="ngModel" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

      <div class="ion-mt"></div>

      <h2 class="ion-h2">LinkedIn Link</h2>
      <ion-input [(ngModel)]="enp.linkedin" name="linkedin" #linkedin="ngModel" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

      <div class="ion-mt"></div>

      <h2 class="ion-h2">Youtube Link</h2>
      <ion-input [(ngModel)]="enp.youtube" name="twitter" #twitter="ngModel" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

      <div class="ion-mt"></div>

      <ion-button type="submit" class="  ion-h3-btn btn-delete">Delete Profile</ion-button>

      <div class="btns-coll btns">
        <ion-button type="reset" class="  ion-h3-btn btn-cancel ion-btn-color"  >Cancel</ion-button>
        <ion-button [disabled]="!ngUpdateEnpForp.valid" (click)="updateEnpProfile()" type="submit" class="  ion-h3-btn btn-update ion-btn-color"  >Update</ion-button>
      </div>
    </form>
  </div>
</ion-content>
