<ion-header class="header-section">

  <ion-button class="btn" (click)="dismissModalInfo()" >
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  <h3 class="ion-h1 header">Contact</h3>

</ion-header>

<ion-content class="ion-content">
  <div class="container">
    <div class="phone-num">
      <h1 class="ion-h1 contact-title">Phone Number</h1>
      <h3 class="ion-h2 contact-content">{{phoneNumber}}</h3>
    </div>
    <div class="mail">
      <h1 class="ion-h1 contact-title">Mail</h1>
      <h3 class="ion-h2 contact-content">{{email}}</h3>
    </div>
    <div class="country">
      <h1 class="ion-h1 contact-title">Country</h1>
      <h3 class="ion-h2 contact-content">{{country}}</h3>
    </div>
  </div>

</ion-content>
