.card-img-selected{
  width: 90px;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
}
.card-img{
  width: 90px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
}
.cards{
  display: flex;
  justify-self: start;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.pay-type-section{
  margin-top: 40px;
}
.btn-payment{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.price{
  display: flex;
  justify-content: space-between;
}
