.ion-h3-div{
  margin-top: 40px;
  display: block;
  text-align: center;
}
.ion-h3-s{
  color: var(--ion-color-meduim-shade);
}
.terms-cond{
  display: flex;
  align-items: center;
}
.ion-h3-box{
  padding-left: 5px;
}

