<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-content" >
  <div class="container">
  <div class="ion-mt"></div>
  <img class="success-icon" src="../../../../../assets/icon/success-pyment-notification-icon.png" alt="success-pyment-notification-icon">
  <h2 class="ion-h1-m notification-h">
    Your profile has been upgraded successfully!
    You will recieve an email shortly.
  </h2>
  <ion-button routerLink="/tabs/home" type="submit" class="btn-home ion-h3-btn ion-btn-med "  color="primary" >
    Back to home page
  </ion-button>
</div>
</ion-content>
