.success-icon{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

}
.notification-h{
  color: var(--ion-color-first);
  text-align: center;
  margin-top: 50px;
}
.btn-home{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
  margin-top: 80px;

}
