.title{
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

//the two btns
.btns{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 40px auto;
  gap: 10px;
}
.btn-delete{
  --background: none;
  color: var(--ion-color-danger);
  border: 1px solid var(--ion-color-danger);
  border-radius: 6px;
  --box-shadow: none;
  width: 50%;
}
.btn-applicants{
  --background: none;
  color: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
  border-radius: 6px;
  --box-shadow: none;
}
.btn-update, .btn-cancel{
 --box-shadow: none;
 width: 50%;
}

.top-inf-header{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}
.btn-cancel{
  --background: var(--ion-color-tertiary);
}
