<ion-header>
  <app-header></app-header>
</ion-header>


  <ion-content class="ion-content" >
    <div class="container p-6">
      <div class="mt-h"></div>

      <!-- Upgarde plane Section -->
      <section class="upgrade-section">
          <div class="upgrade-item">
            <ion-label class="ion-h1-m upgrade-label-text">Plan that help you grow</ion-label>
            <ion-button routerLink="/tabs/payment" slot="end" class="ion-h3-btn button-inner">
              <i slot="start" class="upgrade-star-icon fi fi-rr-star"></i>
              Upgrade plan
            </ion-button>
          </div>
      </section>

      <div class="mt-h"></div>
      <!-- Users' number section -->
      <section>
        <div class="app-users-section">
          <div class="app-users-div">
            <h5 class="ion-h5 h-user-type">Total influencers</h5>
            <h3 class="h-user-nb">+ {{infNumber}}</h3>
          </div>
          <div class="app-users-div">
            <h5 class="ion-h5 h-user-type">Total entrepreneurs</h5>
            <h3 class="h-user-nb">+{{enpNumber}}</h3>
          </div>
        </div>
      </section>
    </div>
      <div class="mt-h"></div>
      <!-- Top Influncers List -->
      <section>
        <div class="top-inf-header container">
          <ion-label class="ion-h1 ">Top Influencers</ion-label>
          <ion-button routerLink="/tabs/inf-list" slot="end" class="ion-h6 view-all-btn">
            View all
            <i class="fi fi-rr-angle-small-right"></i>
          </ion-button>
        </div>

        <ion-segment *ngIf="influencers" class="ion-content" scrollable>
          <div class="inf-test" *ngFor="let influencer of influencers">
            <div class="inf-card" >
              <app-inf-card [influencer]="influencer"></app-inf-card>
            </div>
          </div>

        </ion-segment>

      </section>

      <div class="mt-h"></div>
      <!-- Adds section -->
      <section>
        <div class="adds-div">
          Adds
        </div>
      </section>

      <div class="mt-h"></div>
      <!-- collaboration opportunities -->
      <section>
        <div class="top-inf-header container">
          <ion-label class="ion-h1 ">New collaboration opportunities listed</ion-label>
          <ion-button  routerLink="/tabs/coll-opp" slot="end" class="ion-h6 view-all-btn">
            View all
            <i class="fi fi-rr-angle-small-right"></i>
          </ion-button>
        </div>

        <ion-segment class="ion-content" scrollable>
          <div  *ngFor="let collaboration of collaborations ">
            <div class="enp-card" >
              <app-collaboration  [collaboration]="collaboration"></app-collaboration>
            </div>
          </div>

        </ion-segment>
      </section>
</ion-content>
