<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-content">
  <div class="container">
  <!-- Search bar and filter section -->
  <div class="mt-h"></div>
  <section>
    <div class="search-section">
      <ion-searchbar #query (keyup)="filter(query.value)" name="search" class=" ion-h1 searchBar" color="white" placeholder="Name or Company"></ion-searchbar>

    </div>
  </section>

  <!-- influencers list section -->
  <div class="mt-h"></div>
  <section>
    <div class="top-inf-header">
      <ion-label class="ion-h1-m "> Entrepreneurs List</ion-label>
    </div>
    <div class="inf-cards">
      <div class="inf-card"  *ngFor="let enp of filterEntrepreneurs">
        <img class="profiltPic" [src]="enp.image ?? '../../../assets/avatar/profilePic.png'" alt="">
        <h2 class="ion-h2">{{enp.fullName}}</h2>
        <h3 class="ion-h3 followers-h">{{enp.companyName}}</h3>
        <a (click)="goToEnpProfile(enp.idEnp)" class="see-inf-profile ion-h2 see-inf-h">View Profile
          <i class="fi fi-rr-angle-small-right arrow-icon"></i>
        </a>
      </div>
    </div>


  </section>
  </div>
</ion-content>
