<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-content">
  <div class="container p-6">

    <ng-template ngIf="true">
      <div class="top-inf-header">
        <ion-label class="ion-h1-m title ">28+ applicants</ion-label>

          <ion-button  (click)="listApplicants()" slot="end" class="ion-h6 btn-applicants">
            See all applicants
            <i class="fi fi-rr-angle-small-right"></i>
          </ion-button>
      </div>
    </ng-template>

     <!-- form -->

    <form>
      <div class="mt-h"></div>
      <label  class="ion-h1-m title">Collaboration Title</label>
      <ion-input class="ion-input ion-h3" name="fullName" type="text" placeholder="Enter your full name"></ion-input>
      <div class="ion-mt"></div>

      <label class="ion-h1-m label title">Specialties</label>
      <app-specialities (userSpecialities)="getUserSpecialities($event)"></app-specialities>


      <label  class="ion-h1-m title">Collaboration description</label>
      <ion-textarea class="ion-input ion-h3" name="" type="textarea" placeholder="Collaboration description"></ion-textarea>
      <div class="ion-mt"></div>

      <label class="ion-h1-m label title" >Country*</label>
      <app-country [isMultiSelect]="false" (countrySlected)="getCountry($event) "></app-country>
      <div class="ion-mt"></div>


      <div class="btns-coll btns">
        <ion-button type="submit" class="  ion-h3-btn btn-delete">Delete</ion-button>
        <ion-button type="submit" class="  ion-h3-btn btn-update ion-btn-color"  >Share</ion-button>
      </div>


  </form>

  </div>


</ion-content>

