<ion-content class="content">
  <ion-img class="logo" src="../../../assets/appLogo/fansbookVlogo.png"></ion-img>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <section class="btn">
          <ion-button class="ion-button-sm" color="secondary" size="large" expand="full" >login</ion-button>
          <ion-button class="ion-button-sm" size="large" expand="full" >register</ion-button>
        </section>
        <ion-text class="ion-h3-regular" color="light">Or continue with</ion-text>
        <section class="ionic-social-btn">
        <ion-button size="large" class="google-btn" color="light" ><ion-img class="google-logo" src="../../../../assets/socialmedialogo/Google__G__Logo.svg.png"></ion-img></ion-button>
        <ion-button size="large" class="appel-btn" color="light"><ion-img class="appel-logo" src="../../../../assets/socialmedialogo/Apple-logo.png"></ion-img></ion-button>
      </section>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
