<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content">
  <div class="container">

    <div class="ion-mt"></div>


    <section>
      <h2 class="ion-h1-m">A few details - then you can check your profile.</h2>
      <h4 class="ion-h3-m text">To keep things safe and simple, they’ll pay to reach you - which is why we need your personal information.</h4>
    </section>
    <div class="ion-mt"></div>
    <!-- form -->
    <section>
      <form [formGroup]="userFormGroup" >
        <div class="input-image-section">
          <!-- get user image -->
            <img class="user-img" [src]="imgUrl">
          <input #fileInput (change)="handleFileInput($event.target.files)" id="profiltPic"  name="profiltPic" style="display: none; "class="file-upload" type="file" accept="image/*" required />
          <label for="profiltPic" class="ion-h3-m profile-label">
            <i class="fi fi-rr-add add-icon"></i>Upload Photo
          </label>
          <!-- <div *ngIf="profiltPici.touched && !profiltPici.valid" class="error-message">Image is required!</div> -->

        </div>

          <div class="ion-mt"></div>

          <!-- get user full name -->
          <ion-label  class="ion-h3">Full name</ion-label>
          <ion-input formControlName="fullName" class="ion-input ion-h3"  name="fullName" type="text" placeholder="Enter your full name" required></ion-input>
          <!-- <div *ngIf="fullNamei.touched && !fullNamei.valid" class="error-message">Full name is required!</div> -->
          <div class="ion-mt"></div>

          <!-- get user country -->
          <h2 class="ion-h2 label" >Country*</h2>
          <app-country [isRequired]="true" [isMultiSelect]="false" (countrySlected)="getCountry($event) "></app-country>

          <!-- get user gender -->
          <h2 class="ion-h2 label" >Gender*</h2>
          <ion-select value="female" name="gender" formControlName="gender"  type="text" placeholder="Gender" aria-required="required">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
          <!-- <div *ngIf="genderi.touched && !genderi.valid" class="error-message">Gender is required!</div> -->

        <div class="ion-mt"></div>

          <!-- get user number -->
          <ion-label  class="ion-h2 label">Phone*</ion-label>
          <ion-input class="ion-input ion-h2"  name="phone" formControlName="phoneNumber"  type="number" placeholder="Enter your phone number" required></ion-input>
          <!-- <div *ngIf="phonei.touched && !phonei.valid" class="error-message">Phone Number is required!</div> -->

          <div class="ion-mt"></div>

          <!-- get user specialties -->
          <h2 class="ion-h2 label">Specialties</h2>
          <app-specialities [isRequired]="true" (userSpecialities)="getUserSpecialities($event)"></app-specialities>

          <h2  class="ion-h2 label">Minimum budget (DT)</h2>
          <ion-input formControlName="minBudget"  class="ion-input input-budge ion-h2" name="minBudget" type="number" min="10" max="100" placeholder="0.0 DT" required></ion-input>
          <!-- <div *ngIf="minBudgeti.touched && !minBudgeti.valid" class="error-message">Phone Number is required!</div> -->

          <!-- User social media links for the follweers number -->
          <div class="ion-mt"></div>
          <h2 class="ion-h2">Instagram</h2>
          <ion-input formControlName="instagram"  name="instagram" type="URL" class="ion-input ion-h2" placeholder="http://" required></ion-input>
          <!-- <div *ngIf="instagrami.touched && !instagrami.valid" class="error-message">Instagram link name is required!</div> -->

          <h2 class="ion-h2">Facebook</h2>
          <ion-input formControlName="facebook"  ngModel name="facebook" type="URL" class="ion-input ion-h2" placeholder="http://" required></ion-input>
          <!-- <div *ngIf="facebooki.touched && !facebooki.valid" class="error-message">Facebook link name is required!</div> -->

          <h2 class="ion-h2">Youtube</h2>
          <ion-input formControlName="youtube"  name="youtube" type="URL" class="ion-input ion-h2" placeholder="http://" required></ion-input>
          <!-- <div *ngIf="youtubei.touched && !youtubei.valid" class="error-message">Youtube link name is required!</div> -->

        <div class="mt-h"></div>

        <div class="ion-btn btn">
          <ion-button  (click)="addInfluencer()"  routerLinkActive="active"  type="submit" class="ion-btn-lg ion-h3-btn"  color="primary" >Chek your profile</ion-button>
        </div>


      </form>
    </section>

  </div>
</ion-content>
