<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content">
  <div class="container">

    <div class="ion-mt"></div>

    <section>
      <h1 class="ion-h1 ion-title">Create A Propfile "33%"</h1>
    <div class="ion-mt"></div>
      <ion-progress-bar color="primary" value="0.33"></ion-progress-bar>
    </section>
    <div class="mt-h"></div>

    <section>
      <h2 class="ion-h1-m">A few details - then you can check your profile.</h2>
      <h4 class="ion-h3-m text">To keep things safe and simple, they’ll pay to reach you - which is why we need your personal information.</h4>
    </section>
    <div class="ion-mt"></div>

    <section>
      <form>
        <div class="input-image-section">
          <ion-avatar>
            <img class="user-img" src="../../../assets/avatar/upload-img.jpg">
          </ion-avatar>
          <input id="profiltPic" style="display: none; "class="file-upload" type="file" accept="image/*"/>
          <label for="profiltPic" class="ion-h3-m profile-label">
            <i class="fi fi-rr-add add-icon"></i>Upload Photo
          </label>
        </div>

        <div>
          <div class="ion-mt"></div>

          <div>
          <h2 class="ion-h2 label">Country*</h2>
            <app-country></app-country>
          </div>
        </div>
        <div class="ion-mt"></div>

        <div>
          <ion-label  class="ion-h2 label">Phone*</ion-label>
          <ion-input class="ion-input ion-h2" name="phoneNumber" type="phone" placeholder="Enter your phone number"></ion-input>
        </div>
        <div class="mt-h"></div>

        <div class="ion-btn btn">
          <ion-button routerLink="/register/s3-work-info" routerLinkActive="active"  type="submit" class="ion-btn-lg ion-h3-btn"  color="primary" >set your area of work</ion-button>
        </div>


      </form>
    </section>

  </div>
</ion-content>
