<ion-content>
  <div class="enp-card" >
    <div class="coll-header-div">
      <img class="profiltPic-enp"  [src]="enp.image" alt="">
      <div class="coll-header-text">
        <h2 class="ion-h1">{{enp.fullName}}</h2>
        <h3 class="ion-h2 company-name-h">{{enp.companyName}}</h3>
        <h3 class="ion-h5 data-post-h">{{getDate()}}</h3>
      </div>
    </div>
    <h3 class="ion-h3 applicants">{{collaboration.applicants.length}}  applicants</h3>
    <h1 class="ion-h2-b coll-title">Collaboration Title</h1>
    <h2 class="ion-h3 description-text">{{collaboration.colTitle}}</h2>

    <div class="specialities-section">
      <h1 class="ion-h2-b specialities-req-h">Specialties</h1>
      <div class="specialities">
        <h3 *ngFor="let specialty of collaboration.specialties" class="ion-h3 specialty">{{specialty}}</h3>
      </div>
    </div>
    <h1 class="ion-h2-b">Collaboration description</h1>
    <h2 class="ion-h3 description-text">{{collaboration.colDescription}}</h2>
    <h3 class="ion-h3 location"><i class="fi fi-rr-marker location-icon"></i>{{collaboration.country}}</h3>
    <div class="btns-coll" >
      <ion-button (click)="cancel()" type="submit" class=" btn-read ion-h3-btn ion-btn-color" >close</ion-button>
      <ion-button *ngIf="!isOwner && !isApplied && isInfluencer " (click)="addApplicant()" type="submit" class=" btn-apply ion-h3-btn ion-btn-color" >Apply</ion-button>
      <ion-button *ngIf="!isOwner && isApplied && isInfluencer" (click)="removeApplicant()" type="submit" class=" btn-cancel ion-h3-btn " >Cancel</ion-button>
      <!-- edit pot  -->
      <ion-button *ngIf="isOwner" (click)="openCollUpdatelModal()" type="submit" class=" btn-apply ion-h3-btn ion-btn-color" >Edit</ion-button>
    </div>
  </div>

</ion-content>
