<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-content" >
  <div class="container">
    <div class="ion-mt"></div>

    <img class="star-icon" src="../../../../assets/icon/star.png" alt="star icon">
    <h5 class="ion-h4 notification-h">*three month minimum subscription required</h5>

    <div class="ion-mt"></div>
    <!-- Switch between payment duration -->
    <div class="swich-date">
      <h3 class="ion-h1-2 three-months-payment">3-month plan</h3>
      <ion-toggle class="ion-toggle"></ion-toggle>
      <h3 class="ion-h1-2 twelve-months-payment">12-month plan (save 10%+)</h3>
    </div>

    <div class="ion-mt"></div>
    <!-- Full Access section -->
    <div class="Access-section">
      <h1 class="ion-h1 access-h">Full Access</h1>
      <div class="price-sectin">
        <h1 class="ion-h1 price">$99</h1>
        <h1 class="ion-h4 per-date"> /3 months</h1>
      </div>

      <div>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Explore influencers in our community
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Create account
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Connect with influencers or receive collaboration opportunities
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Publish collaboration opportunities
        </h2>
      </div>

      <ion-button routerLink="pay-with-card" type="submit" class="btn-start-pay ion-h3-btn ion-btn-color" >
        Get Started
      </ion-button>

    </div>

    <div class="ion-mt"></div>
    <!-- Full Access section -->
    <div class="Access-section">
      <h1 class="ion-h1 access-h">Limited Access</h1>
      <div class="price-sectin">
        <h1 class="ion-h1 price">$0</h1>
      </div>

      <div>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Explore influencers in our community
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-check check-icon"></i>
          Create account
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-cross cross-icon"></i>
          Connect with influencers or receive collaboration opportunities
        </h2>
        <h2 class="ion-h2">
          <i class="fi fi-br-cross cross-icon"></i>
          Publish collaboration opportunities
        </h2>
      </div>

      <ion-button disabled="true" type="submit" class="btn-start-pay ion-h3-btn ion-btn-color">
        already in
      </ion-button>
    </div>

    <div class="ion-mt"></div>

  </div>
</ion-content>
