<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list lines="none" detail="false">
          <ion-list-header class="logo-section">
            <img class="app-logo" src="../assets/appLogo/fansbooklogoV2light.png" alt="Fandbook logo">
          </ion-list-header>
          <hr>
          <ion-menu-toggle autoHide="false" *ngFor="let p of userProfile">
            <div>
              <ion-item class="sidebar-pages" [routerLink]="[p.url]" routerLinkActive="active-item" routerDirection="root" lines="none" detail="false">
                <ion-thumbnail slot="start">
                  <img class="user-profile-img" src="../assets/uerPhoto/joyful-parisian-woman-beret-sunglasses-points-place-text-purple-wall.jpg">
                </ion-thumbnail>
                <ion-label class="ion-h1">{{ p.title }} </ion-label>
              </ion-item>
            </div>
            <hr>

            <div *ngFor="let p of primaryPages">
              <ion-item class="sidebar-pages" [routerLink]="[p.url]" routerLinkActive="active-item" routerDirection="root" lines="none" detail="false">
                <i [class]="p.icon + ' sidebar-icons'"></i>
                <ion-label>{{ p.title }}</ion-label>
                <ion-badge class="badge-nb">{{p.badge}}</ion-badge>
              </ion-item>
            </div>

            <hr>
            <div  *ngFor="let p of secondaryPages">
              <ion-item [routerLink]="[p.url]" routerLinkActive="active-item" routerDirection="root" lines="none" detail="false">
                <i [class]="p.icon + ' sidebar-icons'"></i>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
            <hr>
            <div  *ngFor="let p of lastpages">
              <ion-item [routerLink]="[p.url]" routerLinkActive="active-item" routerDirection="root" lines="none" detail="false">
                <i [class]="p.icon + ' sidebar-icons'"></i>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>


          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
