<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content user-type-page">
  <div class="container">
    <div class="ion-mt"></div>

    <section>
      <h1 class="ion-h1 ion-title">Create A Propfile "100%"</h1>
    <div class="ion-mt"></div>
      <ion-progress-bar color="primary" value="1"></ion-progress-bar>
    </section>
    <div class="mt-h"></div>

    <section>
      <h2 class="ion-h1-m">Perfect, now add your social links</h2>
      <h4 class="ion-h3-m text">We display the number of your followers from the most popular platforms - YouTube, Facebook, Instagram.</h4>
    </section>
    <div class="ion-mt"></div>
    <section>
      <form #ngUserForm="ngForm" (ngSubmit)="getData(ngUserForm)">

        <h2 class="ion-h2">Instagram</h2>
        <ion-input ngModel #instagram="ngModel" name="instagram" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

        <h2 class="ion-h2">Facebook</h2>
        <ion-input ngModel #facebook="ngModel" name="facebook" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>

        <h2 class="ion-h2">Youtube</h2>
        <ion-input ngModel #youtube="ngModel" name="youtube" type="link" class="ion-input ion-h2" placeholder="http://"></ion-input>
        <div class="ion-mt"></div>
        <div class="ion-btn">
          <ion-button routerLink="/tabs/inf-profile" routerLinkActive="active"  type="submit" class="ion-btn-lg ion-h3-btn btn" >Chek your profile</ion-button>
        </div>

      </form>
    </section>

  </div>
</ion-content>
