
<ion-content class="ion-content">
  <div class="container">
    <div class="ion-mt"></div>

    <section>
      <h2 class="ion-h1">{{header}}</h2>

      <form #ngUserForm="ngForm" (ngSubmit)="getData(ngUserForm)">

        <h2 class="ion-h2">Title*</h2>
        <ion-input name="title" type="text" class="ion-input ion-h2" placeholder="Ex: marketing"></ion-input>

        <h2 class="ion-h2">Company*</h2>
        <ion-input name="title" type="text" class="ion-input ion-h2" placeholder="Ex: Google"></ion-input>
        <div class="remember-psw">
          <ion-checkbox ></ion-checkbox>
          <span class="ion-h3 ion-h3-box ">I an currently working in this role</span>
        </div>

        <h2 class="ion-h2">Start Date**</h2>
        <ion-input name="title" type="date" class="ion-input date" ></ion-input>

        <h2 class="ion-h2">End Date**</h2>
        <ion-input name="title" type="date" class="ion-input date" ></ion-input>

        <h2 class="ion-h2">Description*</h2>
        <ion-input name="title" type="text" class="ion-input ion-h2" placeholder="Describe your experience"></ion-input>

        <div class="ion-mt"></div>

        <div class="btns-coll btns">
          <ion-button type="submit" class="  ion-h3-btn btn-delete">Cancel</ion-button>
          <ion-button type="submit" class="  ion-h3-btn btn-update"  >Share</ion-button>
        </div>

      </form>
    </section>

  </div>
</ion-content>

