<ion-content class="modal-container" scroll-y="true">
  <div class="budget">
    <h1 class="ion-h1-m title" >Minimum budget</h1>
    <div class="range-min-max">
      <h3 class="ion-h3 range-min">50DT</h3>
      <h3 class="ion-h3 range-max">15.000DT</h3>
    </div>
    <ion-range class="ion-range" (ionChange)="budgetChange($event)" min="10" dualKnobs="true" [pin]="true" ></ion-range>
  </div>

  <div class="instaFollwersChange">
    <h1 class="ion-h1-m title" >Instagram Follwers</h1>
    <div class="range-min-max">
      <h3 class="ion-h3 range-min">1k</h3>
      <h3 class="ion-h3 range-max">1500M</h3>
    </div>
    <ion-range class="ion-range" (ionChange)="instaFollwersChange($event)" min="10" dualKnobs="true" [pin]="true" ></ion-range>
  </div>

  <div class="fbFollwersChange">
    <h1 class="ion-h1-m title" >Facebook Follwers </h1>
    <div class="range-min-max">
      <h3 class="ion-h3 range-min">1K</h3>
      <h3 class="ion-h3 range-max">1500M</h3>
    </div>
    <ion-range class="ion-range" (ionChange)="fbFollwersChange($event)" min="10" dualKnobs="true" [pin]="true" ></ion-range>
  </div>

  <div class="">
    <h1 class="ion-h1-m title" >Specialities </h1>
    <app-specialities></app-specialities>

    <h1 class="ion-h1-m title" >Country </h1>
    <app-country></app-country>
  </div>

  <div class="btns">
    <ion-button  type="submit" class=" btn-read ion-h3-btn " >Reset</ion-button>
    <ion-button  type="submit" class=" btn-apply ion-h3-btn" (click)="filter()" color="primary" >Done</ion-button>
  </div>
</ion-content>
