
<div class="message-section">
  <div class="message-img-name">
    <img class="profiltPic" src="../../../../assets/uerPhoto/mina.jpg" alt="user image">
    <div class="message-info">
      <h1 class="ion-h1 user-name">Mina Syr</h1>
      <h3 class="ion-h3-b message ">It's a good opportunity</h3>
    </div>
  </div>

  <div class="message-state">
    <h3 class="ion-h3 message-not-vu"><i class="fi fi-ss-circle-small message-not-vu"></i></h3>
    <h3 class="ion-h3 message-date">1 min</h3>
  </div>

</div>
