<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-content">
  <div class="container">
  <!-- Search bar and filter section -->
  <div class="mt-h"></div>
  <section>
    <div class="search-section">
      <ion-searchbar #query (keyup)="filter(query.value)"  class=" ion-h1 searchBar" color="white" placeholder="Influencer Name"></ion-searchbar>
      <ion-button (click)="openInfFilterModal()" slot="end" class="ion-h6 filter-btn">
        <i class="fi fi-rr-settings-sliders filter-icon"></i>
      </ion-button>
    </div>
  </section>

  <!-- influencers list section -->
  <div class="mt-h"></div>
  <section>
    <div class="top-inf-header">
      <ion-label class="ion-h1-m ">Finde The perfect influencer for your business!</ion-label>
    </div>
    <div class="inf-cards">
      <div class="inf-card"  *ngFor="let inf of filterInfluencers">
        <app-inf-card [influencer]="inf" ></app-inf-card>
      </div>
    </div>

  </section>
  </div>
</ion-content>
