<ion-content class="ion-content">
  <div class="container p-6">

     <!-- form -->

    <form>
      <div class="mt-h"></div>

      <label  class="ion-h1-m title">Minimum budget</label>
      <ion-input class="ion-input ion-h3" name="buget" type="number" placeholder="DT"></ion-input>
      <div class="ion-mt"></div>


      <div class="btns-coll btns">
        <ion-button type="submit" class="  ion-h3-btn btn-delete">Cancel</ion-button>
        <ion-button type="submit" class="  ion-h3-btn btn-update"  >Update</ion-button>
      </div>


  </form>

  </div>


</ion-content>
