.icons{
  color: var(--ion-color-secondary);
  margin-right: 10px;
  font-size: 22px;
}
.h2{
  color: var(--ion-color-dark-thin);
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.title{
  margin-bottom: 50px;
  margin-top: 30px;
}
.note{
  color: var(--ion-color-text-meduim);
  margin-top: 50px;
  margin-bottom: 50px;
}
