.icons{
  color: var(--ion-color-secondary);
  margin-right: 10px;
  font-size: 22px;
}
.h2{
  color: var(--ion-color-dark-thin);
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.title{
  margin-bottom: 50px;
  margin-top: 30px;
}
.note{
  color: var(--ion-color-text-meduim);
  margin-top: 50px;
  margin-bottom: 50px;
}
.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 61px;
}
.infBtn{
  --padding-top: 40px;
  --padding-bottom: 40px;
  width: 100%;
  --box-shadow: none;
  --background: var(--ion-color-cold);
  color: var(--ion-color-secondary);
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-first);
}
.enpBtn{
  --padding-top: 40px;
  --padding-bottom: 40px;
  width: 100%;
  --box-shadow: none;
  --background: var(--ion-color-secondary);
  color: var(--ion-color-white);

}
