<ion-header>
  <ion-toolbar>
    <ion-title>user-type</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content user-type-page">
    <div class="container">
      <div class="title">
        <h1 class="ion-h1">Hey Chaima. Ready for your next big opportunity?</h1>
      </div>

      <section class="steps">
        <div class="step step1">
          <h2 class="ion-h2 h2">
            <i class="fi fi-rr-user icons"></i>
            Start building your profile.
          </h2>
        </div>

        <div class="step step2">
          <h2 class="ion-h2 h2">
            <i class="fi fi-rr-star icons"></i>
            Upgrade your profile safely And Know we're there to help.
          </h2>
        </div>

        <div class="step step3">
          <h2 class="ion-h2 h2">
          <i class="fi fi-rr-envelope-open icons"></i>
          Apply for open collaboration or list services for clients to collaborate with.
        </h2>
        </div>
      </section>

      <div class="ion-mt"></div>
      <h3 class="ion-h4-m note">It only takes 2-3 minutes and you can edit it later. We’ll save as you go.
      </h3>

      <ion-button routerLink="/register/s2-general-info" type="submit" class="btn-start-pay ion-h3-btn ion-btn-lg"  color="primary" >
        Get Started
      </ion-button>

    </div>

</ion-content>
