.cover-photo{
  height: 150px;
  width: 100%;
  vertical-align:top;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cover-section{
  position: relative;
}
.edit-btn-input{
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 3px;
  color: var(--ion-color-white);
  border: 1px solid var(--ion-color-white) ;
}
.circle {
  border-radius: 100%;
  overflow: hidden;
  width: 123px;
  height: 123px;
  border: 5px solid rgba(203, 211, 255, 0.541);
}

.profiltPic{
  object-fit: cover;
  object-position: center;
  position: relative;
}


.user-infi-section{
  display: inline-block;
  text-align: center;
}

.user-name{
  color: var(--ion-color-dark-thin);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.user-sub{
  color: var(--ion-color-blue-thin);
  margin: 0px;
  margin-bottom: 5px;
}


.profiltPic-section{
  margin-top: -75px;
  position: relative;
}
.profile{
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.icon{
  width: 20px;
}
.profile-edit{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.431);
  border-radius: 3px;
  color: var(--ion-color-white);
  border: 1px solid var(--ion-color-white) ;
  border-radius: 100%;
  right: 0px;
  bottom: 15px;
  display: flex;
  padding: 6px;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

.review{
  margin-top: 0px;
  --background: none;
  color: var(--ion-color-green);
  --border-color: none;
  --box-shadow: none;
}

.ion-btn{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px auto;

}
.btn-contact{
   margin-right: 6px;
}
.btn-msg{
  margin-left: 6px;
  --background: var(--ion-color-secondary);
}
.icon{
  margin-right: 5px;
  }
//Follwers nbr on social media section
.h1_followers{
  margin: 0px;
}
.icon-fb{
  width: 60px;
}
.icon-insta{
  width: 70px;
}
.followers{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-white);
  width: 180px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 10px;
}
.h1-fol{
  margin-bottom: 5px;
  margin-top: 10px;
}

.social-cards{
  margin-top: 10px;
  background-color: var(--ion-color-white);

}
.mt{
  margin-top: 40px;
}
.mt2{
  margin-top: 60px;
}
.followers-nb{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

//progress section
.progress{
  background-color: #ebeefd;
  padding: 20px 5%;
}
.progress-bar-star{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-rate-h3{
  margin: 0px;
  color: var(--ion-color-first);
}
.icon-star{
  margin-top: 10px;
  color: var(--ion-color-first);
  font-size: 25px;
}
.progress-star{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
}
.btn-progress{
  width: 80%;
  --background: var(--ion-color-primary);
}
//about
.about-h{
  color: var(--ion-color-text-meduim);
  line-height: 1.45;
  letter-spacing: 0.35px;
}


//Specialties
.specialty{
  background-color: var(--ion-color-cold);
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}
//Minimum budget
.budget-h{
  color: var(--ion-color-first);
}

//social media links
.social-media{
  background-color: var(--ion-color-white);
  width: 100px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


//experience
.experiences-h1{
  margin-top: 20px;
  margin-bottom: 26px;
}

.h1{
  margin-top: 40px;
}
.experienceIcon{
  width: 90px;
}

.experience{
  display: flex;
  border-bottom: 2px solid var(--ion-color-cold);
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.experience-text{
  width: 70%;
  margin-left: 30px;
}
.experience-h1{
  margin-top: 0px;
  margin-bottom: 0;
}
.experience-h3, .experience-h3-campany{
  display: inline-block;
  margin-bottom: 0px;
  color: var(--ion-color-text-meduim);
  margin-top: 0px;
}
.experience-story{
  color: var(--ion-color-dark-thin);
  line-height: 1.45;
}
.experience-h3-campany{
  margin-right: 15px;
}
.experience-date{
  color: var(--ion-color-text-meduim);
  margin-top: 5px;
}
.experience-see-more-h{
  color: var(--ion-color-first);
  margin: 0px;
  margin-right: 5px;
}
.display-exp{
  display: flex;
  justify-content: flex-end;
  color: var(--ion-color-first);
}
//Galory section
.user-img{
  vertical-align:middle;
  object-fit: cover;
  border-radius: 5px;
  width: 32%;
  height: 100px;
  margin-bottom: 1px;
}
.galory-photo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.gallery-btns{
  margin-bottom: 20px;
}
.user-video{
  vertical-align:middle;
  object-fit: cover;
  border-radius: 5px;
  width: 49%;
  height: 120px;
  margin-bottom: 1px;
}

//Recommendations section
.recommendation{
  display: flex;
  gap: 12px;
}
.enp-img{
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(203, 211, 255, 0.541);
  object-fit: cover;
  object-position: center;

}
.recommendation-h2{
  margin-top: 0px;
}
.recommendation-h5{
  margin-top: 0px;
  margin-bottom: 0px;
}
.recom-entp-date{
  display: flex;
  flex-direction: column;
    justify-content: center;
}
.recommendation-text{
  width:290px;
  color: var(--ion-color-meduim-shade);
  line-height: 1.45;
  text-align: left;
}
.recommendation-bloc{
  margin-top: 20px;
  margin-bottom: 30px;
}

//edit profile
.section_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit_btn{
  --background: none;
  color: var(--ion-color-meduim);
  border: 1px solid var(--ion-color-cold);
  border-radius: 6px;
  --box-shadow: none;
}
.add_btn{
  --background: none;
  color: var(--ion-color-first);
  border: 1px solid var(--ion-color-cold);
  border-radius: 6px;
  --box-shadow: none;
}
.mb{
  margin-bottom: 10px;
}
