<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457136003894-k1goqir13fa57bkkb8b5ch6p6e6gfu48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457136003894-k1goqir13fa57bkkb8b5ch6p6e6gfu48</string>
	<key>API_KEY</key>
	<string>AIzaSyDVEQkmvfumBOXtEpCJqFohuNlzVdRBSac</string>
	<key>GCM_SENDER_ID</key>
	<string>457136003894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fansbook.app</string>
	<key>PROJECT_ID</key>
	<string>fansbook-f2919</string>
	<key>STORAGE_BUCKET</key>
	<string>fansbook-f2919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457136003894:ios:102d29f4b9b491dda1b197</string>
</dict>
</plist>