<!-- This is the collaboration opportunity post -->

  <div class="coll-header-div">
    <img class="profiltPic-enp" src="../../../../assets/uerPhoto/nice.jpg" alt="">
    <div class="coll-header-text">
      <h2 class="ion-h1">Enp Name</h2>
      <h3 class="ion-h2 company-name-h">Company name</h3>
      <h3 class="ion-h5 data-post-h">10 jan 2022</h3>
    </div>
  </div>
  <h3 class="ion-h3">28 applicants</h3>
  <h1 class="ion-h2-b">Collaboration Title</h1>
  <h2 class="ion-h3 description-text">Lorem ipsum dolor sit amet.</h2>

  <div class="specialities-section">
    <h1 class="ion-h2-b specialities-req-h">Specialties</h1>
    <div class="specialities">
      <h3 class="ion-h3 specialty">specialty1</h3>
      <h3 class="ion-h3 specialty">specialty2</h3>
    </div>
  </div>

  <div class="btns-coll">
    <ion-button (click)="openCollDetailModal()" type="submit" class=" btn-read ion-h3-btn ion-btn-color" >Qualifications</ion-button>
    <ion-button type="submit" class=" btn-apply ion-h3-btn ion-btn-color" >Apply</ion-button>
  </div>

