<!-- This is the collaboration opportunity post -->

  <div (click)="goEnpProfile()" class="coll-header-div">
    <img class="profiltPic-enp" [src]="enp.image" alt="">
    <div class="coll-header-text">
      <h2 class="ion-h1">{{enp.fullName}}</h2>
      <h3 class="ion-h2-m company-name-h">{{enp.companyName}}</h3>
      <h3 class="ion-h5 data-post-h">{{getDate()}}</h3>
    </div>

  </div>
  <h3 *ngIf="!collaboration.applicants" class="ion-h3 applicants">0 applicants</h3>
  <h3 *ngIf="collaboration.applicants" class="ion-h3 applicants">{{collaboration.applicants.length}} applicants</h3>
  <div *ngIf="isOwner" class="applicant" (click)="openCollApplicantsModal()">
    <h3 class="ion-h3 app" >See All applicants</h3>
    <i class="fi fi-rr-arrow-right appicon"></i>
  </div>
  <h1 class="ion-h2-b coll-title">Collaboration Title</h1>
  <h2 class="ion-h3 description-text">{{collaboration.colTitle}}</h2>

  <div class="specialities-section">
    <h1 class="ion-h2-b specialities-req-h">Specialties</h1>
    <div class="specialities">
      <h3 *ngFor="let specialty of collaboration.specialties" class="ion-h3 specialty">{{specialty}}</h3>
    </div>
  </div>

  <div class="btns-coll" >
    <ion-button (click)="openCollDetailModal()" type="submit" class=" btn-read ion-h3-btn ion-btn-color" >Qualifications</ion-button>
    <ion-button *ngIf="!isOwner && !isApplied && isInfluencer " (click)="addApplicant()" type="submit" class=" btn-apply ion-h3-btn ion-btn-color" >Apply</ion-button>
    <ion-button *ngIf="!isOwner && isApplied && isInfluencer" (click)="removeApplicant()" type="submit" class=" btn-cancel ion-h3-btn " >Cancel</ion-button>
    <!-- edit pot  -->
    <ion-button *ngIf="isOwner" (click)="openCollUpdatelModal()" type="submit" class=" btn-apply ion-h3-btn ion-btn-color" >Edit</ion-button>
  </div>

